<ion-view title="Friends">
    <ion-nav-bar class="bar-royal">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle ></button>
        </ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-email-unread"></button>
        </ion-nav-buttons>
			
    </ion-nav-bar>
	<!-- <div class="tabs-striped tabs-top tabs-background-default tabs-color-dark">
		<div class="tabs">
			<a class="tab-item active" href="#">
				<!-- <i class="icon ion-home"></i> 
				<p style="color:#000">FRIENDS</p>
			</a>
			<a class="tab-item" href="#">
				<!-- <i class="icon ion-star"></i>
				<p style="color:#000">DOCTORS</p>
			</a>
			<a class="tab-item" href="#">
				<!-- <i class="icon ion-gear-a"></i> 
				<p style="color:#000">PHARMACISTS</p>
			</a>
		</div>
	</div> -->

	
	<ion-content>
		
		  <!-- <div class="tabs-striped tabs-color-assertive">
			<div class="tabs">
			  <a class="tab-item active" href="#">
				<i class="icon ion-home"></i>
				fghfghffjhhgjghjhgjghjhgjhgjhgjhjgfdh
			  </a>
			  <a class="tab-item" href="#">
				<i class="icon ion-star"></i>
				Favorites
			  </a>
			  <a class="tab-item" href="#">
				<i class="icon ion-gear-a"></i>
				Settings
			  </a>
			</div>
		</div> -->
		<ion-tabs>
		<ion-tab title="Friends" /*icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline"*/>
			<div class="list">
			<a class="item item-avatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
			</a>
			</div>
		</ion-tab>
		<ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
		<!-- Tab 2 content -->
		</ion-tab>
		<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
		<!-- Tab 3 content -->
		</ion-tab>

	</ion-content>
	<div class="tabs tabs-icon-only" style="background-color:#5f4b9f">
		<a class="tab-item" href="#/app/profile">
			<i class="icon ion-ios-person-outline"></i>
		</a>
		<a class="tab-item" href="#/app/notifications">
			<i class="icon ion-ios-paper"></i>
		</a>
		<a class="tab-item" href="#/app/friends">
			<i class="icon ion-ios-people-outline"></i>
		</a>
		<a class="tab-item" href="#/app/calendar">
			<i class="icon ion-ios-calendar-outline"></i>
		</a>
		
	</div>
</ion-view>