<ion-view>
<ion-nav-bar style="display:none">
</ion-nav-bar>
  <ion-content>
	<div class="headlogo">
		<img src="img/logo1.png">
	</div>
	<div class="clr"></div>
	<div class="welcome">
		Welcome to the 
	</div>
	<div class="mytitle">
		Purple Health Network
	</div>
	<div class="mainlogo">
		<img src="img/Pic.png">
	</div>
	<div class="btnclass">
		<button class="button button-clear button-royal" href="#/app/signup.html">
		  Sign Up
		</button>
	</div>
	<div class="btnclass">
		<button class="button button-clear button-royal" href="#/login.html">
		  Login
		</button>
	</div>
  </ion-content>
</ion-view>