<ion-view title="Profile">
    <ion-nav-bar class="bar-royal">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle ></button>
        </ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-email-unread"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<div class='profilepic item-avatar' style="height:150px;">
			<img src="img/default.png" style="max-height:100px;max-width:100px; margin-left:35%; margin-top:5%;">
		</div>
		<div class="clr"></div>
		<div class="profiledesc">
			<h3>Joshua Mathew</h3>
			<h3><b>70</b></h3>
			<h6>Purple Heart Score</h6>
		</div>
		<div class='schedular'>
			<h3>Current Schedule</h3>
			<ul class="nav">
				<li><a>Medication Course1</a>
				<ul>
						<li><a>Medicine Name</a></li>
						<li><a>Days to Go</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="profilelogo">
			<img src="img/Pic.png">
		</div>
	</ion-content>
	<div class="tabs tabs-icon-only" style="background-color:#5f4b9f">
		<a class="tab-item">
			<i class="icon ion-ios-person-outline"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-star"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-ios-people-outline"></i>
		</a>
		<a class="tab-item">
			<i class="icon ion-ios-calendar-outline"></i>
		</a>
		
	</div>
</ion-view>