<ion-view title="FEED">
<ion-nav-bar class="bar-royal">
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle ></button>
        </ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-email-unread"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<div class="list">
			<a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
		</div>
	</ion-content>
	<div class="tabs tabs-icon-only" style="background-color:#5f4b9f">
		<a class="tab-item" href="#/app/profile">
			<i class="icon ion-ios-person-outline"></i>
		</a>
		<a class="tab-item" href="#/app/notifications">
			<i class="icon ion-ios-paper"></i>
		</a>
		<a class="tab-item" href="#/app/friends">
			<i class="icon ion-ios-people-outline"></i>
		</a>
		<a class="tab-item" href="#/app/calendar">
			<i class="icon ion-ios-calendar-outline"></i>
		</a>
		
	</div>
</ion-view>