/* Empty. Add your own CSS if you like */
.headlogo{float:right; width:100px; margin-right:25px;}
img{max-width:100%;}
.welcome{width:25%; margin:0 auto; text-align:center; color:#5f4b9f; font-size:20px; line-height:24px; font-weight:lighter; margin-top:20%;}
.clr{clear:both}
.mytitle{width:75%; margin:0 auto; text-align:center; color:#5f4b9f; font-size:36px; line-height:50px; font-weight:bold; margin-top:20%;}
.mainlogo{width:30%; margin:0 auto;margin-top:5%;}
.btnclass{margin-top:5%; text-align:center}
.tabs {background:#5f4b9f;}
.tabs .tab-item{color:#fff}
.item-avatar{max-height:200px;max-width:200px;}
.profilepic{width:60%; margin:0 auto;}
.profilelogo{ width:20%; margin:0 auto; margin-top:5%;}
.nav{margin:5%; display:block}
.nav li{font-size:20px; text-align:left;}
.nav li a {background:#e6e6e6; color:#000; padding:5px 100px 5px 10px;}
.nav ul{display:none;  margin-left:100px; margin-top:5px}
.nav li:hover  ul{display:block;}
.nav ul li{background:#e6e6e6; text-align:center; padding:10px 0px; margin-top:10px}
.nav ul li a{background:#e6e6e6; padding:0;}
.profiledesc{ text-align:center}
.schedular{margin-top:10%}
.syncdevice{margin:10%; line-height:36px;}
.syncdevice h4 {line-height:36px}
.syncdevice h3 {margin-left:10%; line-height:40px }
.syncdevice h5 {margin-left:15% ; line-height:36px}
.button.loadbtn{margin-top:20%; vertical-align:middle; min-height:20px; min-width:200px; background:#ccb3ff; border-radius:0px;}
.item.item-avatar{max-width:100%; padding-left:100px}
.item.item-avatar > img:first-child{max-height:60px; max-width:60px; margin-top:5%; border:2px solid #ededed}
.icon-left{float:left; width:33%;}
.icon-middle{float:left; width:33%; text-align:center;}
.icon-left i {max-width:25px}
.icon-right{float:right; width:25px; hegith:25px}
.icon-right img{max-width:100%}